/*Custom style for the page */
*{
    box-sizing: border-box;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
}
body{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.fa{
    font-size: 0.7em;
}
/*Navbar style */
.navbar-header{
    width: 15%;
    background-color: #f5f5f5;
}
.navbar-default{
  border-color: #fff;
  background-color: #fff;
}
.navbar-nav li{
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    font-weight: bold;
    position: relative;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #fff;
    color: #f00;
}
.navbar-nav li.active:after{
    content: "";
    height: 10px;
    width: 10px;
    background-color: #f5f5f5;
    transform: rotate(45deg);
    position: absolute;
    bottom: -5px;
    left: 47%;
}
.navbar-form input[type=text]{
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
/*Aside style */
aside{
    width:15%;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    left: 20%;
    margin-left: -20%;
    z-index: 1000;
    padding-top: 50px;
}
aside .user-box{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
aside .user-box img{
    border-radius: 50%;
}
.user-box .fa-circle{
    font-size: 0.3em;
}
aside ul{
    list-style-type: none;
}
aside ul hr{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    border-top: 1px solid #aaa;
}
aside ul li{
    line-height: 40px;
    vertical-align: middle;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
aside ul li:hover{
    background-color: #e8f5e9;
    border-left: 3px solid red;
}
aside ul li.a-active:after{
    content: "";
    height: 30px;
    width: 30px;
    background-color: #f5f5f5;
    transform: rotate(45deg);
    right: -17px;
    top: 5px;
    position: absolute;
}
aside ul li i{
    margin-right: 10px;
}
/*Main style */
main{
    position: relative;
    left: 15%;
    width: 85%;
    margin-right: 0;
    padding-top: 50px;
}
.main-content{
    max-width: 1000px;
}
.container-fluid header{
    border-bottom: 1px solid #aaa;
    height: 60px;
    padding: 20px 0;
    vertical-align: middle;
}
.container-fluid header span{
    font-size: 2em;
}
.container-fluid header ul{
    list-style-type: none;
}
.container-fluid header ul li{
    display: inline-block;
    padding: 0 10px;
}
.container-fluid header ul li button{
    border: 0;
    border-radius: 5px;
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
}
.container-fluid header ul li .fa{
    font-size: 1em;
    color: #aaa;
}
.issue-box{
    height: 300px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 4px;
    border-top: 3px solid #f00;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 0px 0px 10px #aaa;
    z-index: 9999;
}

/* Browser fixes */
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}